.newNote {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 3px #aaa;
  color: #aaa;
}

.newNote input,
textarea {
  border: none;
  width: 100%;
}

.addNoteButton {
  background-color: #f5ba13;
  padding: 1rem;
  border-radius: 10px;
  color: white;
  border: none;
}
